/* Add this CSS to style the button and form */
.button {
    background-color: yellow;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .progress-container {
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    background-color: #4caf50;
    height: 10px;
  }
  
  .card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  